<div ng-controller="addEditEmployedController as ctrl" ng-init="ctrl.init()">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Device Profile</h1>
    </div>

    <div class="row">

        <!-- Area Chart -->
        <div class="col-12">
            <div class="card shadow mb-4">
                <div class="card-body">


                    <form name="deviceForm" class="container" novalidate>
                        <div layout="row">


                        </div>

                        <section class="pt-3">
                            <div class="footer-form-button pt-5" layout="row" layout-align="center center">
                                <md-button type="submit" class="md-raised md-primary" layout="row" layout-align="center center" ng-click="ctrl.saveFormAdd()">
                                    Save
                                </md-button>
                                <md-button type="button" class="md-raised md-secondary" layout="row" layout-align="center center" ng-click="ctrl.cancelForm()">
                                    Cancel
                                </md-button>
                            </div>
                        </section>


                    </form>



                </div>
            </div>
        </div>


    </div>
</div>