<!DOCTYPE html>
<html ng-app="MyApp" lang="th">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./images/logo.png" rel="icon" type="image/png">
    <link href="./assets/css/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Sarabun&display=swap" rel="stylesheet">
    <link href="./backend/script/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="./backend/script/angular-material/angular-material.css" rel="stylesheet" type="text/css">
    <link href="./backend/script/loadingTopJS/loadingTopJS.css" rel="stylesheet" type="text/css">
    <link href="./backend/script/kendo-ui/kendo.common-material.css" rel="stylesheet" type="text/css">
    <link href="./backend/script/kendo-ui/kendo.material.css" rel="stylesheet" type="text/css">
    <link href="./backend/script/v-accordion.min.css" rel="stylesheet" type="text/css">
    <link href="./assets/css/style.css" rel="stylesheet" type="text/css">
    <link href="./style/main.css" rel="stylesheet" type="text/css">
    <title>ศูนย์ฝึกอาชีพเขตจตุจักร</title>
</head>

<body ng-cloak ng-controller="appController as ctrl" id="page-top" ng-init="ctrl.init()">


    <nav class="navbar navbar-expand-lg navbar-dark bg-blue p-1">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="./images/logo.png" width="95px">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
            <div class="collapse navbar-collapse" id="navbarNav">

                <ul class="navbar-nav ml-auto text-center">
                    <li class="nav-item">
                        <a class="nav-link" href="#">หน้าแรก</a>
                    </li>
                    <li class="nav-item" ng-if="showMenu()">
                        <a class="nav-link" href="#">ตรวจสอบสถานะ</a>
                    </li>
                    <li class="nav-item" ng-if="showMenu()">
                        <a class="nav-link" href="#">ข้อมูลส่วนตัว</a>
                    </li>
                    <li class="nav-item" ng-if="!showMenu()">
                        <a class="nav-link" href="" data-toggle="modal" data-target="#exampleModalCenter"> 
                            เข้าสู่ระบบ
                        </a>
                    </li>

                    <li class="nav-item" ng-if="showMenu()">
                        <a class="nav-link" href="" ng-click="ctrl.logOut()">ออกจากระบบ</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">เข้าสู่ระบบ</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="exampleInputUsername">Username</label>
                            <input type="text" ng-model="ctrl.modelLogin.username" class="form-control" id="exampleInputUsername" placeholder="ชื่อผู้ใช้">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword">Password</label>
                            <input type="password" ng-model="ctrl.modelLogin.password" class="form-control" id="exampleInputPassword" placeholder="รหัสผ่าน">
                        </div>
                        <a href="" ng-click="register()" data-dismiss="modal"><small>สมัครสมาชิก</small></a>
                    </form>
                </div>
                <div class="modal-footer text-center">
                    <button type="submit" class="btn btn-primary" ng-click="ctrl.login()" data-dismiss="modal">เข้าสู่ระบบ {{modal}}</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">ยกเลิก</button>
                </div>
            </div>
        </div>
    </div>


    <article ng-view></article>


    <br>
    <footer class="semi-footer pt-3 p-5 text-center text-md-left">
        <div class="row">
            <div class="col-md-4">
                <a class="navbar-brand row" href="#">
                    <img src="./images/logo.png" height="60" class="d-inline-block align-top" alt="">
                    <h3 class="pt-2">ศูนย์ฝึกอาชีพเขตจตุจักร</h3>
                </a>
                <p>
                    <i class="fa fa-phone"></i> 084-207-4588<br>
                    <i class="fa fa-facebook"></i> <a href="https://www.messenger.com/login.php?next=https%3A%2F%2Fwww.messenger.com%2Ft%2F1646603122265936%2F%3Fmessaging_source%3Dsource%253Apages%253Amessage_shortlink" target="_blank">m.me/jj.training.center</a><br>
                    <i class="fa fa-map"></i> ศูนย์ฝึกอาชีพกรุงเทพมหานคร จตุจักร 1 สำนัหงาน, แขวง จตุจักร เขตจตุจักร กรุงเทพมหานคร 10900 </p>
            </div>
            <div class="col-md-3">
                <h4>เมนู</h4>
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="index.php">หน้าแรก <span class="sr-only">(current)</span></a>
                    </li>

                    <li class="nav-item ">
                        <a class="nav-link" href="index.php?pageto=blog">บทความ</a>
                    </li>

                    <li class="nav-item ">
                        <a class="nav-link" href="index.php?pageto=activities">กิจกรรม</a>
                    </li>

                </ul>
            </div>
            <div class="col-md-5">
                <h4>แผนที่</h4>
                <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3874.170944035951!2d100.5578017148314!3d13.8287716902977!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30e29c3ff7fe25d3%3A0x90955ac823933a04!2z4Lio4Li54LiZ4Lii4LmM4Lid4Li24LiB4Lit4Liy4LiK4Li14Lie4LiB4Lij4Li44LiH4LmA4LiX4Lie4Lih4Lir4Liy4LiZ4LiE4LijIOC4iOC4leC4uOC4iOC4seC4geC4oyAx!5e0!3m2!1sth!2sth!4v1582370620500!5m2!1sth!2sth"
                    frameborder="0" style="border:0;" allowfullscreen=""></iframe>
            </div>
        </div>
    </footer>
    <footer class="footer">
        <span> COPYRIGHT © 2020
            <a href="./backend" target="_blank">เข้าสู่ระบบ</a>
            ALL Right Reserved
        </span>
    </footer>
    <script src="./backend/script/jquery-2-2.4.min.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap/bootstrap.min.js"></script>


    <script src="./backend/script/md5.min.js"></script>
    <script src="./backend/script/js/plugins/pace.min.js"></script>
    <script src="./backend/script/js/sweetalert/sweetalert.min.js"></script>
    <script src="./backend/script/angular/angular.js"></script>
    <script src="./backend/script/angular/angular-animate.js"></script>
    <script src="./backend/script/angular/angular-aria.js"></script>
    <script src="./backend/script/angular-material/angular-material.min.js"></script>
    <script src="./backend/script/angular/angular-cookies.js"></script>
    <script src="./backend/script/angular/angular-loader.js"></script>
    <script src="./backend/script/angular/angular-route.js"></script>
    <script src="./backend/script/angular/angular-messages.js"></script>
    <script src="./backend/script/angular/angular-sanitize.js"></script>
    <script src="./backend/script/loadingTopJS/loadingTopJS.min.js"></script>
    <script src="./backend/script/v-accordion.js"></script>
    <script src="./backend/script/kendo-ui/kendo.all.js"></script>
    <script src="./backend/script/kendo-ui/cultures/kendo.culture.th-TH.js"></script>
    <script src="./backend/script/kendo-ui/cultures/kendo.culture.th.js"></script>
    <script src="./backend/script/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="./backend/script/moment.min.js"></script>
    <script src="./backend/script/svg-assets-cache.js"></script>
    <script src="./backend/script/underscore-min.js"></script>
    <script src="./backend/script/ngInfiniteScroll.js"></script>

    <!-- Load app main script -->
    <script src="app.js"></script>
    <script src="index.js"></script>

    <!-- Load services -->
    <script src="service/appMenuService.js"></script>
    <script src="service/customerService.js"></script>
    <script src="service/dialogService.js"></script>
    <script src="service/commonService.js"></script>

    <!-- Load Controller-->
    <script src="view/home/homeController.js"></script>
    <script src="view/register/registerController.js"></script>

</body>

</html>