<div ng-controller="addEditViewHandmadeController as ctrl" ng-init="ctrl.init()">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">{{title}}</h1>
    </div>

    <div class="row">

        <!-- Area Chart -->
        <div class="col-12">
            <div class="card shadow mb-4">
                <div class="card-body">


                    <form name="employedForm" class="container" novalidate>
                        <md-content layout-padding>
                            <div layout-gt-sm="row">
                                <md-input-container class="md-block" flex="70" flex-gt-sm>
                                    <label>ชื่องานฝีมือ</label>
                                    <input type="text" required ng-model="ctrl.modelSave.name" ng-disabled="isView">
                                </md-input-container>

                                <md-input-container class="md-block" flex="30" flex-gt-sm>
                                    <label>ราคา</label>
                                    <input type="number" min="0" required ng-model="ctrl.modelSave.price" ng-disabled="isView">
                                </md-input-container>
                            </div>

                            <div layout="row">
                                <md-input-container flex="30" flex-gt-sm>
                                    <label>ประเภทงานฝีมือ</label>
                                    <md-select name="type" ng-model="ctrl.modelSave.type_id" required ng-disabled="isView">
                                        <md-option ng-repeat="item in ctrl.listType" value="{{ item.id }}">
                                            {{ item.type }}
                                        </md-option>
                                    </md-select>
                                </md-input-container>

                                <md-content flex="70" class="pl-1" flex-gt-sm>
                                    <md-chips ng-model="ctrl.modelSave.color" placeholder="รายละเอียดสี *" md-add-on-blur="true" input-aria-label="Fruit names" md-on-remove="" readonly="isView"></md-chips>
                                </md-content>
                            </div>

                            <div layout="row">
                                <md-input-container flex="30" flex-gt-sm>
                                    <label>เลือกสี</label>
                                    <md-select name="type" ng-model="ctrl.model.color" ng-disabled="ctrl.modelSave.color.length == 0" ng-change="ctrl.mapchipModel(ctrl.model.color)">
                                        <md-option ng-repeat="item in ctrl.modelSave.color" value="{{ item }}">
                                            {{ item }}</md-option>
                                    </md-select>
                                </md-input-container>

                                <md-content flex="70" class="pl-1" flex-gt-sm ng-if="ctrl.model.color">
                                    <md-chips ng-model="ctrl.model.size" placeholder="รายละเอียดขนาด *" md-add-on-blur="true" input-aria-label="Fruit names" md-on-remove="ctrl.removableSize($chip)" md-transform-chip="ctrl.chipModel($chip)" readonly="isView">
                                    </md-chips>
                                </md-content>
                            </div>


                            <div layout="row" flex-gt-sm ng-if="!isView">
                                <div flow-init flow-name="uploader.flow" flow-files-added="ctrl.processFiles($files)">
                                    <div class="upload-btn-wrapper">
                                        <button class="btn-upload">อัพโหลดรูปภาพ</button>
                                        <input flow-btn type="file" multiple>
                                    </div>
                                    <ul ng-repeat="file in uploader.flow.files track by $index">
                                        <li>
                                            {{file.name}}
                                            <a href="" ng-click="file.cancel(); ctrl.delImg(file.name)" class="pl-1">X</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div layout="row" flex-gt-sm>
                                <h5>รูปภาพ</h5>
                                <ul>
                                    <li ng-repeat="item in ctrl.model.imageStrings">
                                        <a href="{{item.path}}" target="_blank" style="color: black;">{{item.image}}</a>
                                        <a href="" ng-click="ctrl.imageStringsDel(item.id)" class="pl-1" ng-if="!isView">X</a>
                                    </li>
                                </ul>
                            </div>



                        </md-content>



                        <section>
                            <div class="footer-form-button pt-5" layout="row" layout-align="center center">
                                <md-button type="submit" class="md-raised md-primary" layout="row" layout-align="center center" ng-click="ctrl.saveFormAdd()" ng-if="!isView">
                                    Save
                                </md-button>
                                <md-button type="button" class="md-raised md-secondary" layout="row" layout-align="center center" ng-click="ctrl.cancelForm()">
                                    Cancel
                                </md-button>
                            </div>
                        </section>
                    </form>



                </div>
            </div>
        </div>


    </div>
</div>