<div ng-controller="detailController as ctrl" ng-init="ctrl.init()">

    <section class="container p-3">
        <!-- <h1>สมัครสมาชิก</h1> -->
    </section>
    <section class="container main shadow">

        <div class="w3-content w3-display-container">
            <div class="mySlides-img">
                <img class="mySlides w3-display-middle shadow" src="{{item.path}}" ng-repeat="item in ctrl.model.imageStrings">
            </div>
            <div ng-if="ctrl.model.imageStrings.length > 1">
                <button class="w3-button w3-black w3-display-left" ng-click="ctrl.plusDivs(-1)">&#10094;</button>
                <button class="w3-button w3-black w3-display-right" ng-click="ctrl.plusDivs(1)">&#10095;</button>
            </div>
        </div>

    </section>
</div>