<div ng-controller="detailController as ctrl" ng-init="ctrl.init()">

    <section class="container p-3">
        <!-- <h1>สมัครสมาชิก</h1> -->
    </section>

    <section class="container main shadow">
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="http://www.smo-msci.com/crafts/images/crafts_164986253720200222_014631.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="http://www.smo-msci.com/crafts/images/crafts_61281634320200218_232817.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="http://www.smo-msci.com/crafts/images/crafts_43922597820200223_005241.jpg" class="d-block w-100" alt="...">
                </div>
            </div>
        </div>



        <!-- <a href="" id="12345" data-ng-click="ShowId($event)">sdsd</a> -->






    </section>
</div>