<div ng-controller="homeController as ctrl" ng-init="ctrl.init()">
    <section class="container p-3">
        <form class="justify-content-end">
            <div class="row">
                <div class="col-11">
                    <input class="form-control " type="search" ng-model="ctrl.modelSearch.name" placeholder="ค้นหา..."
                        aria-label="ค้นหา">
                </div>
                <div class="col-1">
                    <button type="submit" class="btn btn-success mb-2" ng-click="ctrl.searchHandmade()">ค้นหา</button>
                </div>
            </div>
        </form>
    </section>

    <section class="container main shadow p-3">

        <ul class="nav justify-content-center pb-2">

            <li class="nav-item">
                <a class="nav-link " ng-class="{'disabled': ctrl.modelSearch.type_id == 'all'}" href=""
                    ng-click="ctrl.typeClick('all')">ทั้งหมด</a>
            </li>



            <li class="nav-item" ng-repeat="x in ctrl.listType">
                <a class="nav-link" ng-class="{'disabled': x.id == ctrl.modelSearch.type_id}" href=""
                    ng-click="ctrl.typeClick(x.id)">{{x.type}}</a>
            </li>


        </ul>

        <div class="row">

            <div class="col-12 col-sm-12 col-md-4 p-3" ng-repeat="item in ctrl.items">
                <div class="card h-100 shadow">

                    <a href="" ng-click="ctrl.detail(item.id)" class="warpper-card-img">
                        <img class="card-img-top" src="{{item.path}}" alt="{{item.name}}">
                    </a>

                    <div class="card-body">
                        <a href="" ng-click="ctrl.detail(item.id)" style="color: black;">
                            <h5 class="card-text"><b>{{item.name}}</b> </h5>
                        </a>
                        <h5 class="text-red pt-2">฿ {{item.price}} </h5>
                    </div>

                    <div class="card-footer text-right" style="font-size: 16px;">
                        <a href="" ng-click="ctrl.detail(item.id)" class="btn btn-primary btn-block">อ่านเพิ่มเติม</a>
                        {{item.datetime}}
                    </div>
                </div>
            </div>

        </div>

        <div class="text-center pt-3">
            <nav aria-label="Page navigation example">
                <ul ng-if="ctrl.pager.pages.length" class="pagination justify-content-center">
                    <li class="page-item" ng-class="{disabled:ctrl.pager.currentPage === 1}">
                        <a class="page-link" href="" ng-click="ctrl.setPage(1)">หน้าแรก</a>
                    </li>
                    <li class="page-item" ng-class="{disabled:ctrl.pager.currentPage === 1}">
                        <a class="page-link" href="" ng-click="ctrl.setPage(ctrl.pager.currentPage - 1)"
                            aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item" ng-repeat="page in ctrl.pager.pages"
                        ng-class="{active:ctrl.pager.currentPage === page}">
                        <a class="page-link" href="" ng-click="ctrl.setPage(page)">{{page}}</a>
                    </li>
                    <li class="page-item" ng-class="{disabled:ctrl.pager.currentPage === ctrl.pager.totalPages}">
                        <a class="page-link" href="" ng-click="ctrl.setPage(ctrl.pager.currentPage + 1)"
                            aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                    <li class="page-item" ng-class="{disabled:ctrl.pager.currentPage === ctrl.pager.totalPages}">
                        <a class="page-link" href="" ng-click="ctrl.setPage(ctrl.pager.totalPages)">หน้าสุดท้าย</a>
                    </li>
                </ul>
            </nav>
        </div>


    </section>
</div>