<div ng-controller="hometController as ctrl" ng-init="ctrl.init()">
    <section class="container   p-3">
        <form class="justify-content-end">
            <div class="row">
                <div class="col-11">
                    <input class="form-control " type="search" placeholder="ค้นหา..." aria-label="ค้นหา">
                </div>
                <div class="col-1">
                    <button type="submit" class="btn btn-success mb-2">ค้นหา</button>
                </div>
            </div>
        </form>
    </section>

    <section class="container main shadow">

        <ul class="nav justify-content-center pb-2">

            <li class="nav-item">
                <a class="nav-link active" href="#">Active</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li>


        </ul>

        <div class="row">

            <div class="col-12 col-sm-12 col-md-4 p-3">
                <div class="card h-100 shadow ">
                    <a href="" class="warpper-card-img">
                        <img class="card-img-top" src="https://via.placeholder.com/100/" alt="Coding">
                    </a>

                    <div class="p-1">
                        <a href="detail.html" class="btn btn-primary btn-block">อ่านเพิ่มเติม</a>
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-12 col-md-4 p-3">
                <div class="card h-100 shadow ">
                    <a href="" class="warpper-card-img">
                        <img class="card-img-top" src="https://via.placeholder.com/100/" alt="Coding">
                    </a>

                    <div class="p-1">
                        <a href="detail.html" class="btn btn-primary btn-block">อ่านเพิ่มเติม</a>
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-12 col-md-4 p-3">
                <div class="card h-100 shadow ">
                    <a href="" class="warpper-card-img">
                        <img class="card-img-top" src="https://via.placeholder.com/100/" alt="Coding">
                    </a>

                    <div class="p-1">
                        <a href="detail.html" class="btn btn-primary btn-block">อ่านเพิ่มเติม</a>
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-12 col-md-4 p-3">
                <div class="card h-100 shadow ">
                    <a href="" class="warpper-card-img">
                        <img class="card-img-top" src="https://via.placeholder.com/100/" alt="Coding">
                    </a>

                    <div class="p-1">
                        <a href="detail.html" class="btn btn-primary btn-block">อ่านเพิ่มเติม</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-4 p-3">
                <div class="card h-100 shadow ">
                    <a href="" class="warpper-card-img">
                        <img class="card-img-top" src="https://via.placeholder.com/100/" alt="Coding">
                    </a>

                    <div class="p-1">
                        <a href="detail.html" class="btn btn-primary btn-block">อ่านเพิ่มเติม</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-4 p-3">
                <div class="card h-100 shadow ">
                    <a href="" class="warpper-card-img">
                        <img class="card-img-top" src="https://via.placeholder.com/100/" alt="Coding">
                    </a>

                    <div class="p-1">
                        <a href="detail.html" class="btn btn-primary btn-block">อ่านเพิ่มเติม</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-4 p-3">
                <div class="card h-100 shadow ">
                    <a href="" class="warpper-card-img">
                        <img class="card-img-top" src="https://via.placeholder.com/100/" alt="Coding">
                    </a>

                    <div class="p-1">
                        <a href="detail.html" class="btn btn-primary btn-block">อ่านเพิ่มเติม</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-4 p-3">
                <div class="card h-100 shadow ">
                    <a href="" class="warpper-card-img">
                        <img class="card-img-top" src="https://via.placeholder.com/100/" alt="Coding">
                    </a>

                    <div class="p-1">
                        <a href="detail.html" class="btn btn-primary btn-block">อ่านเพิ่มเติม</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-4 p-3">
                <div class="card h-100 shadow ">
                    <a href="" class="warpper-card-img">
                        <img class="card-img-top" src="https://via.placeholder.com/100/" alt="Coding">
                    </a>

                    <div class="p-1">
                        <a href="detail.html" class="btn btn-primary btn-block">อ่านเพิ่มเติม</a>
                    </div>
                </div>
            </div>

    </section>

    </div>
</div>