<div ng-controller="paymentController as ctrl" ng-init="ctrl.init()">

    <section class="container p-3">
        <!-- <h1>สมัครสมาชิก</h1> -->
    </section>

    <section class="container main shadow">
        <table class="table table-bordered">
            <thead>
              <tr class="text-center">
                <th width="100px">เลือก</th>
                <th>ธนาคาร</th>
                <th>เลขบัญชี</th>
              </tr>
            </thead>
            <tbody>
              <tr class="text-center">
                <th><input type="radio" name="" id=""></th>
                <td>Mark</td>
                <td>Otto</td>
              </tr>
            </tbody>
          </table>
    </section>
</div>