<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>CodePen - Get base64 image using ng-flow</title>
  <link rel="stylesheet" href="./style.css">

</head>

<body>
  <!-- partial:index.partial.html -->
  <html ng-app="app">

  <head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ng-flow/2.5.1/ng-flow-standalone.min.js"></script>
  </head>

  <body ng-controller="UploadCtrl">
    <div flow-init flow-name="uploader.flow" flow-files-added="processFiles($files)">
      <input type="text" ng-model="modelSave.name">
      <button flow-btn type="file" multiple>Upload Images</button>
      <div ng-repeat="image in uploader.flow.files track by $index">
        <!-- <span class="text">Blob image displayed with "flow-img"</span><img class="preview" flow-img="image" /><br>
        <span class="text">Base64 image displayed with "ng-src"</span> <img class="preview"
          ng-src="{{imageStrings[$index]}}" /> -->
      </div>
    </div>
    <button ng-click="demo()">save</button>
  </body>

  </html>
  <!-- partial -->
  <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/ng-flow/2.5.1/ng-flow-standalone.min.js'></script>
  <script src="./script.js"></script>

</body>

</html>