body {
    height: 100%;
    font-family: 'TH SarabunPSK';
    font-size: 18px;
    background: #e9ebee;
}

.main {
    padding: 25px;
    height: 100%;
    width: 100%;
    background-color: #fafafa;
}


/* Section Blog */

.warpper-card-img {
    position: relative;
    overflow: hidden;
}

.warpper-card-img::after {
    content: '';
    padding-top: 66.25%;
    display: block;
    height: 0;
}

.warpper-card-img img {
    position: absolute;
    top: 0;
    transition: 1s;
}

.warpper-card-img img:hover {
    transform: scale(1.2)
}

.btn-group-custom button {
    margin-bottom: 0.5rem;
    width: 100px;
}

.btn-group-custom a:hover {
    text-decoration: none;
}

.blog-content {
    padding: 50px 100px;
    box-shadow: 0px 0px 10px #a5a5a5;
}

.owl-carousel .card-body {
    height: 150px;
    overflow: hidden;
}

@media (max-width: 991px) {
    .blog-content {
        padding: 40px 50px;
    }
}

@media (max-width: 768px) {
    .blog-content {
        padding: 20px 30px;
    }
}


/* Section Footer */

.semi-footer {
    background: #2b2b2b;
    color: #dcdcdc;
}

.semi-footer a {
    color: #dcdcdc;
}

.semi-footer li.active>a {
    color: #fff;
}

.semi-footer h4 {
    color: #75c6fc;
    border-bottom: 1px solid;
    padding: 10px 0;
}

.k-footer {
    background: #000;
    color: #fff;
    font-size: 0.7rem;
    height: 90px;
    line-height: 90px;
    text-align: center;
    font-size: 16px;
}

.map {
    height: 300px;
    width: 100%;
}

.text-red {
    color: red;
}

.shadow-hover:hover {
    box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15) !important;
    transform: scale(1.015)
}