body {
    font-family: 'Sarabun', ;
}

.semi-footer {
    background: #09a5ca;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: #ffd400;
    }
    .fa {
        color: #fff;
        padding-right: 10px;
    }
}

#page-top {
    .bg-blue {
        // background-color: #004d5f !important;
        background-color: #09a5ca !important;
    }
}

.modal-footer {
    display: flow-root;
}



