<div ng-controller="handmadeController as ctrl" ng-init="ctrl.init()">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">จัดการงานฝีมือ</h1>
        <button type="button" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" ng-click="ctrl.addHandmade()">
            <i class="fas fa-plus fa-sm text-white-50"></i> เพิ่มฝีมือ
        </button>
    </div>



    <div class="row">

        <!-- Area Chart -->
        <div class="col-12">
            <div class="card shadow mb-4">
                <div class="card-body">

                    <form name="employedForm" novalidate>
                        <h4 class="pr-3">ค้นหา :</h4>
                        <div layout-gt-sm="row" class="pl-5">

                            <md-input-container flex="20">
                                <label>รหัสงานฝีมือ</label>
                                <input name="code_handmade" ng-model="ctrl.modelSearch.code_handmade">
                            </md-input-container>


                            <md-input-container flex="20">
                                <label>รายการงานฝีมือ</label>
                                <input name="name" ng-model="ctrl.modelSearch.name">
                            </md-input-container>

                            <md-input-container flex="20">
                                <label>ประเภทงานฝีมือ</label>
                                <md-select name="type" ng-model="ctrl.modelSearch.type_id">
                                    <md-option value="all">Search All</md-option>
                                    <md-option ng-repeat="item in ctrl.listType" value="{{ item.id }}">
                                        {{ item.type }}
                                    </md-option>
                                </md-select>
                            </md-input-container>


                        </div>
                        <div layout-gt-sm="row" class="pl-5">
                            <md-input-container flex="20">
                                <label>ราคา</label>
                                <input name="number" ng-model="ctrl.modelSearch.price1" ng-required="ctrl.modelSearch.price2">
                            </md-input-container>

                            <md-input-container flex="20">
                                <label>ถึงราคา</label>
                                <input name="number" ng-model="ctrl.modelSearch.price2">
                            </md-input-container>

                            <md-input-container flex="20">
                                <label>สถานะ</label>
                                <md-select name="type" ng-model="ctrl.modelSearch.is_use">
                                    <md-option value="all">Search All</md-option>
                                    <md-option value="true">ปกติ</md-option>
                                    <md-option value="false">ยกเลิกรายการ</md-option>
                                </md-select>
                            </md-input-container>

                            <md-input-container flex="" class="pl-3">
                                <button type="submit" class="d-none d-sm-inline-block btn btn-sm btn-success shadow-sm" ng-click="ctrl.searchHandmade()">
                                <i class="fas fa-search fa-sm text-white-50"></i> ค้นหา
                            </button>
                                <button type="button" class="d-none d-sm-inline-block btn btn-sm btn-dark shadow-sm" ng-click="ctrl.clearHandmade()">
                                <i class="fas fa-repeat fa-sm text-white-50"></i> ค่าเริ่มต้น
                            </button>
                            </md-input-container>
                        </div>
                    </form>

                    <grid-search flex="100" g-option="ctrl.gridOptions" on-callback-view="ctrl.gridCallbackView" on-callback-edit="ctrl.gridCallbackEdit">
                    </grid-search>
                </div>
            </div>
        </div>


    </div>
</div>