<main role="main" ng-app="paginationApp">
	<section class="container" ng-controller="PaginationController as vm">
		<div class="row">
			<div class="col-sm-8 col-lg-6">
				<h1 class="page-header">Pagination with AngularJS</h1>
				<!-- list of items being paginated -->
				<ul class="list-group">
					<li ng-repeat="item in vm.items" class="list-group-item">This is item # {{item}}</li>
				</ul>
				<!-- pagination magic -->
				<ul ng-if="vm.pager.pages.length" class="pagination">
					<li ng-class="{disabled:vm.pager.currentPage === 1}">
						<a ng-click="vm.setPage(1)">First</a>
					</li>
					<li ng-class="{disabled:vm.pager.currentPage === 1}">
						<a ng-click="vm.setPage(vm.pager.currentPage - 1)" aria-label="Previous">
							<span aria-hidden="true">&laquo;</span>
						</a>
					</li>
					<li ng-repeat="page in vm.pager.pages" ng-class="{active:vm.pager.currentPage === page}">
						<a ng-click="vm.setPage(page)">{{page}}</a>
					</li>
					<li ng-class="{disabled:vm.pager.currentPage === vm.pager.totalPages}">
						<a ng-click="vm.setPage(vm.pager.currentPage + 1)" aria-label="Next">
							<span aria-hidden="true">&raquo;</span>
						</a>
					</li>
					<li ng-class="{disabled:vm.pager.currentPage === vm.pager.totalPages}">
						<a ng-click="vm.setPage(vm.pager.totalPages)">Last</a>
					</li>
				</ul>
			</div>
		</div>
	</section>
</main>
<hr/>
<footer role="contentinfo" class="credits text-center">
	<p>
		<a href="http://jasonwatmore.com/post/2016/01/31/AngularJS-Pagination-Example-with-Logic-like-Google.aspx" target="_top">AngularJS - Pagination Example with logic like Google</a>
	</p>
	</div>